<div id="paginator">
    <ul class="pagination pagination-md">
        {% if pages.has_previous %}
            <li><a href="?page={{ pages.previous_page_number }}{% if request.GET.keywords %}&keywords={{ request.GET.keywords }}{% endif %}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.menu_name %}&menu_name={{ request.GET.menu_name }}{% endif %}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% if request.GET.month %}&month={{ request.GET.month }}{% endif %}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        {% endif %}
        <li><a href="#0">{{ pages.number }} / {{ pages.paginator.num_pages }}</a></li>
        {% if pages.has_next %}
            <li><a href="?page={{ pages.next_page_number }}{% if request.GET.keywords %}&keywords={{ request.GET.keywords }}{% endif %}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.menu_name %}&menu_name={{ request.GET.menu_name }}{% endif %}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% if request.GET.month %}&month={{ request.GET.month }}{% endif %}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
        {% endif %}
    </ul>
</div>